<h1>RESTAURANTS LIST</h1>
<%= link_to 'Add a new restaurant', new_restaurant_path, class: 'btn btn-primary'  %>
<div class="container">
  <% @restaurants.each do |restaurant| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant.id)  %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category %></h6>
        <p class="card-text"><i class="fas fa-phone"> <%= restaurant.phone_number %></i></p>
        <p class="card-text"><i class="fas fa-map-marked"> <%= restaurant.address %></i></p>
        <a href="#" class="card-link"><%= link_to 'add review', new_restaurant_review_path(restaurant.id) %></a>
      </div>
    </div>
  <% end %>
</div>
